
body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
label { display: block; float: left; text-align:right; margin-right:0.3em; width: 10em;}
a { display: block; float: left; text-align:right; margin-right:0.3em; width: 16em;}
select { width: 14em;}
input { width: 14em;}
@media (min-width: 768px) {
	
	#left-column {
		float:left;
		width:46%;
		position:relative;
		overflow:hidden;
	}
	#right-column {
		float:left;
		width:46%;
		position:relative;
		overflow:hidden;
		padding-left: 1em;
	}
	#header {
		clear: both;
		width: 100%;
		display: block;
		text-align: center;
	}
}
